@import '../../styles/variables';
.#{$prefix}-menu {
  display: flex;
  list-style: none;
  &-item{
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    &.#{$prefix}-disabled {
      color: $menu-item-disabled-color;
      cursor: $menu-item-disabled-cursor;
    }
  }
}

.#{$prefix}-menu-horizontal {
  border-bottom: $menu-border-width solid $menu-border-color;
  flex-direction: row;
  box-shadow: $menu-box-shadow;
  .#{$prefix}-menu-item{
    border-bottom: $menu-item-active-border-width solid transparent;
    &.#{$prefix}-active{
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
    &:not(.#{$prefix}-disabled):hover{
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
      .#{$prefix}-arrow-icon{
        transform: rotate(180deg);
      }
    }
  }
}

.#{$prefix}-menu-vertical {
  flex-direction:  column;
  display: inline-flex;
  border-right: $menu-border-width solid $menu-border-color;
  .#{$prefix}-menu-item{
    border-left: $menu-item-active-border-width solid transparent;
    &.#{$prefix}-active{
      color: $menu-item-active-color;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
    &:not(.#{$prefix}-disabled):hover{
      color: $menu-item-active-color;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
}

.#{$prefix}-submenu{
  position: relative;
  padding: $menu-item-padding-y $menu-item-padding-x;
  cursor: pointer;
  &-title{
    display: flex;
    align-items: center;
    .#{$prefix}-arrow-icon {
      transition: transform .28s ease-in-out;
      margin-left: 4px;
      transform: rotate(0);
    }
  }
  &-menu{
    padding-left: 0;
    white-space: nowrap;
    list-style: none;
    color: $body-color;
    &-item{
      padding: $menu-item-padding-y $menu-item-padding-x;
      transition: $menu-transition;
    }
  }
}
 
.#{$prefix}-submenu-horizontal{
  .#{$prefix}-submenu-menu{
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + $submenu-menu-offset);
    border: $menu-border-width solid $menu-border-color;
    left: 0;
    box-shadow: $submenu-box-shadow;
    .#{$prefix}-menu-item:not(.#{$prefix}-disabled):hover{
      border-bottom: $menu-item-active-border-width solid transparent;
    }
    .#{$prefix}-menu-item.#{$prefix}-active{
      border-bottom: $menu-item-active-border-width solid transparent;
    }
  }
}

.#{$prefix}-submenu-vertical{
  .#{$prefix}-menu-item:not(.#{$prefix}-disabled):hover{
    border-left: $menu-item-active-border-width solid transparent;
  }
  .#{$prefix}-menu-item.#{$prefix}-active{
    border-left: $menu-item-active-border-width solid transparent;
  }
  &:has(.#{$prefix}-open.#{$prefix}-submenu-menu){
    .#{$prefix}-arrow-icon {
      transform: rotate(180deg);
    }
  }
}