@import './mixins/transition';

@include zoom-animation('top', scaleY(0), scaleY(1), center top);
@include zoom-animation('left', scale(.45, .45), scale(1, 1), top left);
@include zoom-animation('right', scale(.45, .45), scale(1, 1), top right);
@include zoom-animation('bottom', scaleY(0), scaleY(1),  center bottom);

@include message-animation();



@keyframes #{$prefix}-progress-LTR-active {
  0% {
      transform: translateX(-100%) scaleX(0);
      opacity: 0.1;
  }
  20% {
      transform: translateX(-100%) scaleX(0);
      opacity: 0.5;
  }
  100% {
    transform: translateX(0) scaleX(1);
    opacity: 0;
  }
}




