@use "sass:math";
$prefix:'eizy-ui';


// Neutrals
$white:    #fff !default;
$neutral-100: #f5f5f5 !default;
$neutral-200: #f0f0f0!default;
$neutral-300: #d9d9d9 !default;
$neutral-400: #bfbfbf !default;
$neutral-500: #8c8c8c !default;
$neutral-600: #595959 !default;
$neutral-700: #434343!default;
$neutral-800: #262626 !default;
$neutral-900: #1f1f1f !default;
$black:    #000 !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #fadb14 !default;
$green:   #52c41a !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// Status Colors
$success-100: #529E66!default;
$success-200: #367B48!default;
$success-300: #276738!default;
$warning-100: #E1C542!default;
$warning-200: #CAB23F!default;
$warning-300: #B49E35!default;
$error-100: #D0454C!default;
$error-200: #B54248!default;
$error-300: #95353A!default;


// Colors
$primary-100: #84CADB!default;
$primary-200: #5BB4CF!default;
$primary-300: #369CC2!default;
$primary-400: #24789C!default;
$primary-500: #155575!default;
$secondary-100:#E89094!default;
$secondary-200:#DB656F!default;
$secondary-300: #CF3E50!default;
$secondary-400:#A82A3D!default;
$secondary-500:#821A2D!default;

$primary:       $primary-300!default;
$secondary:     $secondary-300!default;
$success:       $success-200 !default;
$info:          $cyan !default;
$warning:       $warning-200 !default;
$error:         $error-200 !default;
$light:         $neutral-100 !default;
$dark:          $neutral-800 !default;

// Font color
$color-text: rgba(0, 0, 0, 0.88);
$color-text-secondary: rgba(0, 0, 0, 0.65);
$color-text-tertiary: rgba(0, 0, 0, 0.45);
$color-text-quaternary: rgba(0, 0, 0, 0.25);
$color-fill: rgba(0, 0, 0, 0.15);
$color-fill-secondary: rgba(0, 0, 0, 0.06);
$color-fill-tertiary: rgba(0, 0, 0, 0.04);
$color-fill-quaternary: rgba(0, 0, 0, 0.02);

$margin-xxs: 0.25rem;
$margin-xs: 0.5rem;
$margin-sm: 0.75rem;
$margin: 1rem;
$margin-md: 1.25rem;
$margin-lg: 1.5rem;
$margin-xl: 2rem;
$margin-xxl: 3rem;

$padding-xxs: 0.25rem;
$padding-xs: 0.5rem;
$padding-sm: 0.75rem;
$padding: 1rem;
$padding-md: 1.25rem;
$padding-lg: 1.5rem;
$padding-xl: 2rem;
$padding-xxl: 3rem;

$margin-xxs: 0.25rem;
$margin-xs: 0.5rem;
$margin-sm: 0.75rem;
$margin: 1rem;
$margin-md: 1.25rem;
$margin-lg: 1.5rem;
$margin-xl: 2rem;
$margin-xxl: 3rem;

$height-xxs: 0.25rem;
$height-xs: 0.5rem;
$height-sm: 0.75rem;
$height: 1rem;
$height-md: 1.25rem;
$height-lg: 1.5rem;
$height-xl: 2rem;
$height-xxl: 3rem;

$width-xxs: 0.25rem;
$width-xs: 0.5rem;
$width-sm: 0.75rem;
$width: 1rem;
$width-md: 1.25rem;
$width-lg: 1.5rem;
$width-xl: 2rem;
$width-xxl: 3rem;

$theme-colors: 
(
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "error":      $error,
  "light":      $light,
  "dark":       $dark
);

// Font Family
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;


// Font size
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-xs:                $font-size-base * .75 !default;
$font-size-root:              null !default;

// Font Weight
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;
$font-weight-base:            $font-weight-normal !default;

// Line Height
$line-height-base:            1.5 !default;
$line-height-lg:              2 !default;
$line-height-sm:              1.25 !default;

// Typescale
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// Link
$link-color:                              $primary !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;

// Body
$body-bg:                   $white !default;
$body-color:                $color-text !default;
$body-text-align:           null !default;

// Spacing
$spacer: $margin !default;

// Hr 
$hr-margin-y: $spacer !default;
$hr-color: inherit !default;
$hr-height: 1px !default;
$hr-opacity: .25 !default;

// Paragraphs
$paragraph-margin-bottom:   $margin !default;

// Headings
$headings-margin-bottom:      math.div($spacer, 2) !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

// Border
$border-width:1px !default;
$border-color:$neutral-300 !default;

$border-radius:.25rem !default;
$border-radius-lg:.3rem !default;
$border-radius-sm:.2rem !default;

// Box Shadow
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$box-shadow: 0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, .075) !default;

// Code
$code-font-size:                    $font-size-sm !default;
$code-color:                        $secondary !default;
$pre-color:                         null !default;

// Knobs
$enable-pointer-cursor-for-buttons: true !default;



// Special Markers

// dt
$dt-font-weight: $font-weight-bold !default;

// small
$small-font-size: .875em !default;

// sup, sub
$sub-sup-font-size: .75em !default;

// caption
$caption-color: $neutral-600 !default;

// legend
$legend-margin-bottom: $margin-xs !default;
$legend-font-size: 1.5rem !default;
$legend-font-weight: null !default;

// mark
$mark-padding: .2em !default;
$mark-bg: #fcf8e3 !default;



// Below is the components style

// Button
// Button Base Style
$btn-margin-bottom:           $margin !default;
$btn-font-weight:             400;
$btn-padding-y:               $padding-xs !default;
$btn-padding-x:               $padding-sm !default;
$btn-font-family:             $font-family-base !default;
$btn-font-size:               $font-size-base !default;
$btn-line-height:             $line-height-base !default;
$btn-outlint-offset:          .2rem !default;

//Button responsive padding and font size
$btn-padding-y-sm:            $padding-xxs !default;
$btn-padding-x-sm:            $padding-xs !default;
$btn-font-size-sm:            $font-size-sm !default;
$btn-outlint-offset-sm:       .175rem !default;

$btn-padding-y-lg:            $padding-xs !default;
$btn-padding-x-lg:            $padding !default;
$btn-font-size-lg:            $font-size-lg !default;
$btn-outlint-offset-lg:       .225rem !default;

// Button Border
$btn-border-width:            $border-width !default;

// Link type Button
$btn-link-color:              $link-color !default;
$btn-link-hover-color:        $link-hover-color !default;
$btn-link-disabled-color:     $neutral-600 !default;


// Button radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;

// Button others
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-disabled-opacity:        .65 !default;
$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Menu
// menu
$menu-border-width:            $border-width !default;
$menu-border-color:            $border-color !default;
$menu-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$menu-transition:              color .15s ease-in-out, border-color .15s ease-in-out !default;

// menu-item
$menu-item-padding-y:          .5rem !default;
$menu-item-padding-x:          1rem !default;
$menu-item-active-color:       $primary !default;
$menu-item-active-border-width: 2px !default;
$menu-item-disabled-color:     $neutral-600 !default;
$menu-item-disabled-cursor:    not-allowed;

//sub-menu
//submenu
$submenu-box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
$submenu-menu-offset: 8px;

//Input
$input-margin-bottom:                   $margin !default;
$input-padding-y:                       $padding-xs !default;
$input-padding-x:                       $padding-sm !default;
$input-font-family:                     $font-family-base !default;
$input-font-size:                       $font-size-base !default;
$input-font-weight:                     $font-weight-base !default;
$input-line-height:                     $line-height-base !default;

$input-padding-y-sm:                    $padding-xxs !default;
$input-padding-x-sm:                    $padding-xs !default;
$input-font-size-sm:                    $font-size-sm !default;

$input-padding-y-lg:                    $padding-xs !default;
$input-padding-x-lg:                    $padding !default;
$input-font-size-lg:                    $font-size-lg !default;

$input-bg:                              $white !default;
$input-disabled-bg:                     $neutral-200 !default;
$input-disabled-color:                  $neutral-300 !default;
$input-disabled-border-color:           null !default;
$input-disabled-cursor:                 not-allowed !default;


$input-color:                           $neutral-700 !default;
$input-border-color:                    $neutral-400 !default;
$input-border-width:                    $border-width !default;
$input-box-shadow:                      $box-shadow-inset !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;

$input-icon-width:                      36px !default;
$input-icon-width-lg:                   42px !default;
$input-icon-width-sm:                   28px !default;
$input-icon-offset:                     4px !default;


$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              lighten($primary, 25%) !default;
$input-focus-width:                     .2rem !default;
$input-focus-color:                     $input-color !default;
$input-focus-shadow-color:              rgba($primary, .25) !default;
$input-focus-shadow-error-color:        rgba($error, .25) !default;
$input-focus-box-shadow:                0 0 0 $input-focus-width $input-focus-shadow-color !default;
$input-focus-box-shadow-error:          0 0 0 $input-focus-width $input-focus-shadow-error-color !default;

$input-placeholder-color:               $neutral-600 !default;
$input-plaintext-color:                 $body-color !default;

$input-height-border:                   $input-border-width * 2 !default;

$input-transition:                      border-color .3s ease-in-out, box-shadow .3s ease-in-out !default;

$input-group-addon-color:               $input-color !default;
$input-group-addon-bg:                  $neutral-200 !default;
$input-group-addon-border-color:        $input-border-color !default;

// Progress bars

$progress-font-size:                    $font-size-base * .75 !default;
$progress-info-line-height:             $line-height-base * .75 !default;
$progress-line-height:                  $line-height-base  !default;
$progress-bg:                           $neutral-200 !default;
$progress-border-radius:                999px !default;
$progress-color:                        $white !default;
$progress-transition:                   width .6s ease !default;
$progress-info-offset:                  8px !default;
$progress-info-width:                   30px !default;
$progress-active-animation:             #{$prefix}-progress-LTR-active 2.4s ease-in-out infinite !default;
$progress-normal-bg:                    $primary !default;
$progress-success-bg:                   $success !default;
$progress-error-bg:                     $error !default;
$progress-active-bg:                    $primary !default;

// Upload
$upload-normal-color:                   $primary !default;
$upload-success-color:                  $success !default;
$upload-error-color:                    $error !default;
$upload-item-prefix-icon-offset:        6px !default;
$upload-item-progress-offset-bottom:    calc($progress-font-size * -0.5 * $progress-line-height) !default;
$upload-item-progress-offset-left:      24px !default;


// Select
$select-bg:                              $white !default;
$select-disabled-bg:                     $neutral-200 !default;
$select-disabled-color:                  $neutral-300 !default;
$select-disabled-border-color:           null !default;
$select-disabled-cursor:                 not-allowed !default;

$select-mutiple-item-bg:                $neutral-200 !default;
$select-mutiple-item-color:             $color-text !default;
$select-mutiple-item-border-radius:     $border-radius-sm !default;
$select-mutiple-item-padding:           $padding-xs math.div($padding-xs, 2) !default;

$select-margin-bottom:                   $margin !default;
$select-padding-y:                       $padding-xs !default;
$select-padding-x:                       $padding-sm !default;
$select-font-family:                     $font-family-base !default;
$select-font-size:                       $font-size-base !default;
$select-font-weight:                     $font-weight-base !default;
$select-line-height:                     $line-height-base !default;
$select-height:                          2rem !default;
$select-height-sm:                       1.5rem !default;
$select-height-lg:                       2.5rem !default;

$select-padding-x-sm:                    $padding-xs !default;
$select-font-size-sm:                    $font-size-sm !default;

$select-padding-y-lg:                    $padding-xs !default;
$select-padding-x-lg:                    $padding !default;
$select-font-size-lg:                    $font-size-lg !default;

$select-color:                           $neutral-700 !default;
$select-placeholder-color:               $neutral-300 !default;
$select-border-color:                    $neutral-400 !default;
$select-border-width:                    $border-width !default;
$select-box-shadow:                      $box-shadow-lg !default;

$select-border-radius:                   $border-radius !default;
$select-border-radius-lg:                $border-radius-lg !default;
$select-border-radius-sm:                $border-radius-sm !default;

$select-transition:                      border-color .3s ease-in-out, box-shadow .3s ease-in-out !default;
$select-icon-size:                       12px;

$select-item-margin:                     $margin-xxs;






