@use "sass:math";
@import '../../styles/variables';

$prefix-tooltip: #{$prefix}-tooltip;
$prefix-overlay: #{$prefix}-overlay;

.#{$prefix-tooltip} {
  color: $tooltip-color;
  max-width: $tooltip-max-width;
  .#{$prefix-overlay} {
    &-inner {
      padding: $tooltip-inner-padding;
      border-radius: $tooltip-inner-border-radius;
      box-shadow: $tooltip-inner-box-shadow;
      background: $tooltip-bg;
      min-width: $tooltip-inner-min-width;
      word-wrap: break-word;
    }
    &-arrow{
      &::before{
        background: $tooltip-bg;
      }
    }
  }
}
